/* Scrollbar styling */
/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 20px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

/* Make scrollbars visible over all elements */
body, * {
  -ms-overflow-style: auto; /* IE 10+ */
}